.depth-chart {
    &__container {
        width: 100%;
        height: 85%;
        display: grid;
        position: relative;

        .highcharts-axis-title {
            fill: white !important;
        }
    }
}