@use '@styles/variables.scss';
@use '@styles/elementMixins.scss';

.candles-chart {
    @include elementMixins.highChartsTooltips;

    width: 100%;
    height: 100%;
    display: grid;
    position: relative;

    font-weight: variables.$fontWeightHeavy !important;
    font-family: sans-serif !important;

    .highcharts-range-selector {
        color-scheme: dark !important;
    }

    .highcharts-label.highcharts-range-input {
        text {
            font-family: sans-serif;
        }

        svg {
            fill: white;
        }
    }

    .highcharts-axis-title {
        fill: white !important;
    }
}