@use '@styles/variables.scss';

.ticker-container {
    border: 1px solid variables.$border;
}

.ticker-container__active {
    border: 1px solid variables.$white;
    font-weight: 700;
}

.ticker-container,
.ticker-container__active {
    margin: 0 5px;
    border-radius: 4epx;
    cursor: pointer;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 25px 1fr;
    height: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "currencyPair price"
        "relativeChange change";
    font-size: 12px;
    padding: 5px 10px;
    transition: background 0.2s ease-in-out;

    &:hover {
        background-color: #36485E;
    }
}

.currency-pair {
    color: variables.$white;
    grid-area: currencyPair;
}

.price {
    color: variables.$white;
    grid-area: price;
    margin-right: 0;
    margin-left: auto;
}

.relative-change__negative {
    color: variables.$negative;
}

.relative-change__positive {
    color: variables.$positive;
}

.relative-change__negative,
.relative-change__positive {
    display: flex;
    font-family: FiraSans-Medium, sans-serif;
    grid-area: relativeChange;
    font-size: 16px;
}

.change__negative {
    color: variables.$negative;
}

.change__positive {
    color: variables.$positive;
}

.change__negative, 
.change__positive {
    grid-area: change;
    margin-right: 0;
    margin-left: auto;
}

.slick-slide {

    // &[aria-hidden="true"] {
    //     display: none !important;
    // }
}