@mixin flex-layout($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;

    @if $direction != null {
        flex-direction: $direction;
    }

    @if $justify != null {
        justify-content: $justify;
    }

    @if $align != null {
        align-items: $align;
    }
};

@mixin highChartsTooltips {
    .highcharts-tooltip {
        font-family: sans-serif;
        
        > div > span {
            background: white !important;
            padding: 5px !important;
            border-radius: 5px !important;
        }

        .highcharts-tooltip-box {
            path { 
                fill: white !important; 
            }

            text { 
                fill: black !important; 
            }   
        }
    }
}