@use '@styles/variables.scss';
@use '@styles/elementMixins.scss';

.trading-tracker {
    &__container {
        background-color: variables.$backgroundColor;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .panel-header {
            color: variables.$white;
            text-transform: uppercase;
            font-size: 12px;
            padding: 0px 10px 10px 0px;
        }
    }

    &__content {
        display: grid;
        gap: 5px;
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media only screen and (min-width: 1200px) {
            grid-template-rows: 40px 70px 1fr 250px;
            grid-template-columns: 450px 1fr 1fr;
            grid-template-areas:
                "header header header"
                "tickers tickers tickers"
                "market candles candles"
                "trades book depth";
        }

        @media only screen and (min-width: 600px) and (max-width: 1200px) and (orientation: portrait) {
            grid-template-rows: 40px 70px 1fr 1fr 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "header header"
                "market book"
                "market book"
                "trades depth"
                "footer footer";

            .trading-tracker__tickers-panel,
            .candles-chart {
                display: none;
            }
        }

         @media only screen and (min-width: 600px) and (max-width: 1200px) and (orientation: landscape) {
            grid-template-rows: 40px 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "header header"
                "market book"
                "trades depth";

            .trading-tracker__header {
                font-size: 22px;
            }

            .candles-chart,
            .trading-tracker__tickers-panel {
                display: none;
            }

            .book-container {
                height: 90%;
            }
         }

        @media only screen and (max-width: 600px) {
            gap: 15px;
            grid-template-rows: 40px 1fr 1fr 1fr;
            grid-template-columns: 100%;
            grid-template-areas:
            "header"
            "market"
            "book"
            "candles";

            .trading-tracker {
                &__depth-panel,
                &__tickers-panel,
                &__trades-panel {
                    display: none;
                }
            }
        }
    }

    &__header {
        @include elementMixins.flex-layout(null, space-between, center);

        background-color: variables.$steelBlue;
        grid-area: header;
        color: variables.$white;
        position: relative;
        overflow: hidden; // keeps animation inside this component
        font-family: Gill Sans Extrabold, sans-serif;
        padding: 0 0 0 10px;
        font-size: 28px;
        font-weight: variables.$fontWeightHeavy;

        .settings-icon {
            background: none;
            border: none;
            height: 24px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-right: 10px;

            .material-icons {
               color: rgba(245, 245, 245, 0.64);
            }

            &:focus-visible {
                outline: none;
            }

            &:hover {
                .material-icons {
                    color: variables.$white;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            background: linear-gradient(45deg, transparent 30%, rgba(255, 255, 255, 0.15) 50%, transparent 70%);
            animation: shine 4s infinite;
            pointer-events: none;
        }

        @keyframes shine {
            0% {
                transform: translateX(-100%) translateY(-100%) rotate(45deg);
            }
            100% {
                transform: translateX(100%) translateY(100%) rotate(45deg);
            }
        }

        @media only screen and (max-width: 600px) {
            font-size: 22px;
        }
    }

    &__tickers-panel {
        grid-area: tickers;
        overflow: hidden;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__market-panel {
        grid-area: market;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__trades-panel {
        grid-area: trades;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__candles-panel {
        grid-area: candles;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__book-panel {
        grid-area: book;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__depth-panel {
        grid-area: depth;
        font-family: FiraSans-Medium, sans-serif;
    }

    &__footer {
        @include elementMixins.flex-layout(null, flex-end, null);

        grid-area: footer;
        font-family: FiraSans-Medium, sans-serif;
        padding: 0 10px;
    }

    // &__book-panel,
    // &__market-panel,

    &__book-panel {
        .book-container {
            border: 1px solid variables.$steelBlue;
            border-radius: 8px;
        }
    }

    &__market-panel {
        .market-container {
            border: 1px solid variables.$steelBlue;
            border-radius: 8px;
        }
    }

    &__trades-panel {
        .trades-container {
            border: 1px solid variables.$steelBlue;
            border-radius: 8px;
        }
    }
}