$bid: #00AD08;
$ask: #FF264D;
$bidTransparent: rgba(0, 173, 8, 0.2);
$askTransparent: rgba(255, 38, 77, 0.2);
$positive: #00AD08;
$negative: #FF264D;
$orange: #FFA41B;
$white: #FFF;
$backgroundColor: #1f2936;
$backgroundColorOnHover: rgba(50, 120, 255, 0.15);
$label: rgba(245, 245, 245, 0.64);
$border: #424242;
$lightGray: rgba(245, 245, 245, 0.64);
$darkGray: #63666D;
$steelBlue: #4682b4;

$fontWeightHeavy: 700;
$defaultFont: 'FiraSans-Medium', sans-serif;